:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body,
html {
  height: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: grid;
}

.topbar {
  height: 20px;
  outline: 1px solid lightblue;
}

#scene-wrapper {
  position: relative;
}

#scene {
  width: 100%;
  outline: none;

  background: rgb(100, 100, 100);
  background: linear-gradient(
    0deg,
      rgb(255, 255, 255) 0%, rgb(100, 100, 100) 100%
  );
}

#gui {
    position: absolute;
    top: 0;
    right: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
